body {
    background-color: black;
    box-sizing: border-box;
    color: #00ff00;
    font-family: "Ubuntu Mono", monospace;
}

h1 {
    color: #00ff00;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 1.3rem;
    font-size: 3rem;
}

input {
    border: 0;
    border-bottom: 1px solid #00ff00;
    background: rgb(7, 7, 7);
    width: 100%;
    padding: 8px 0 5px 5px;
    font-size: 16px;
    color: #00ff00;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button {
    background-color: transparent;
    position: relative;
    display: inline-block;
    padding: .4rem .4rem;
    border-radius: 4px;
    width: 5.8rem;
    text-align: center;
    color: #00ff00;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    filter: hue-rotate(0deg);
    border: 2px solid #00ff00;
    transition: all 0.1s linear;
    cursor: pointer;

    &:hover {
        border: 1px solid transparent;
        span {
            position: absolute;
            display: block;

            &:nth-child(1) {
                filter: hue-rotate(0deg);
                top: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, transparent, #00ff00);
                animation: animate1 1s linear infinite;
            }
            @keyframes animate1 {
                0% {
                    left: -100%;
                }
                50%,
                100% {
                    left: 100%;
                }
            }

            &:nth-child(2) {
                filter: hue-rotate(60deg);
                top: -100%;
                right: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(180deg, transparent, #00ff00);
                animation: animate2 1s linear infinite;
                animation-delay: 0.25s;
            }

            @keyframes animate2 {
                0% {
                    top: -100%;
                }
                50%,
                100% {
                    top: 100%;
                }
            }
            &:nth-child(3) {
                filter: hue-rotate(120deg);
                bottom: 0;
                right: 0;
                width: 100%;

                background: linear-gradient(270deg, transparent, #00ff00);
                animation: animate3 1s linear infinite;
                animation-delay: 0.5s;
            }
            @keyframes animate3 {
                0% {
                    right: -100%;
                    height: 3px;
                }
                50%,
                100% {
                    height: 2px;
                    right: 100%;
                }
            }

            &:nth-child(4) {
                filter: hue-rotate(300deg);
                bottom: -100%;
                left: 0;
                width: 3px;
                height: 100%;
                background: linear-gradient(360deg, transparent, red);
                animation: animate4 1s linear infinite;
                animation-delay: 0.75s;
            }
            @keyframes animate4 {
                0% {
                    bottom: -100%;
                }
                50%,
                100% {
                    bottom: 100%;
                }
            }
        }
    }
}

//INDEX
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    .box {
        height: 28rem;
        width: 21rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        background-color: black;
        border: 2px solid #00ff00;

        .header-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 3rem;

            margin-top: 0.7rem;
            position: relative;

            .input-container label {
                position: absolute;
                top: 0px;
                left: 0px;
                font-size: 16px;
                color: #00ff00;
                pointer-events: none;

                transition: all 0.5s ease-in-out;
            }
            
            .input-container input:focus {
                border: none;
                outline: none;
            }
            .input-container input:focus ~ label,
            .input-container input:valid ~ label {
                top: -10px;
                font-size: 12px;
            }
        }
        .body-box {
            width: 100%;
            height: 100%;

            margin-top: 0.6rem;

            

            border: 1px solid #00ff00;
            .container-salas {
                height: 100%;
                width: 100%;
                max-height: 24rem;
                max-width: 23rem;

                display: flex;
                flex-direction: column;

                input:checked{
                    background-color: #00ff00;
                }
                label {
                    margin-top: 1.3rem;
                    margin-left: 0.8rem;
                    cursor: pointer;
                }


            }
            margin-bottom: 0.3rem;
        }

        .info {
            margin-top: 0.6rem;
            opacity: 0.8;

        }

        .buttons-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 7rem;
            margin-bottom: .4rem;

            
        }
    }
}

//CHAT

.header-chat {
    width: 100%;
}
.logout-container {

    
    width: 100%;
    button {
        left: 60%;
    }
}

.logout {
    margin-bottom: 1rem;
}

.chat-content {
    padding: .5rem;
    display: flex;
}

.username {
    font-size: 1.13rem;
    text-align: center;
    margin: .5rem;;
}

.input-message-box{
   

    padding-left: 5rem;
    padding-right: 5rem;

    input {
        margin-top: .5rem;
        width: 19rem;
    }


    button {
        margin-top: .7rem;
        left: 6rem;
    }
}